body{
  font-size: 20px;
}

.todo-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: auto;
}

.todo-input{
  border: 2px solid rgba(17, 122, 255, 1);
}

.todo-button{
  background-color: rgba(17, 122, 255, 1);
  border: 2px solid rgba(17, 122, 255, 1);
}

.iconsContainer{
  display: flex;
  gap: 8px;
}

.todo-row{
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  background-color: rgba(17, 122, 255, 1);
}

.completed{
  text-decoration: line-through;
}

.icon{
  height: 20px;
}